{% extends 'base.html' %}
{% load static %}

{% block title %}Detail{% endblock %}
{% block link %}{% static 'css/detail.css' %}{% endblock %}

{% block jumbotron %}{% endblock %}

{% block content %}
<div>
    <div class="container">
        <br><br><br>
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
        <div>{{ post.author }}</div>
        <div class="text-muted">{{ post.pub_date.date }}</div>
        <br>
        <p>
            {% if post.author == request.user %}
            <a class="btn btn-default" href="{% url 'update' post.id %}" role="button">Edit</a>
            <a class="btn btn-default" href="{% url 'delete' post.id %}" role="button">Delete</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}