{% extends 'base.html' %}
{% load static %}

{% block title %}User Board{% endblock %}
{% block link %}{% static 'css/home.css' %}{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <!-- 로그인 한 상태 -->
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }} !</h1>
        <p>This is a place to post everything you want.</p>
        <p><a class="btn btn-default btn-lg" href="{% url 'create' %}" role="button">Add Post</a></p>
        <!-- 로그인 하지 않은 상태 -->
        {% else %}
        <h1>Welcome!</h1>
        <p>This is a place to post everything you want.</p>
        <p><a class="btn btn-default btn-lg" href="{% url 'login' %}" role="button">Add Post</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Post objects -->
<div class="row">
    {% for post in posts.all %}
    <div class="col-md-4">
        <h2>{{ post.title }}</h2>
        <p>{{ post.summary }}</p>
        <div class=" text-muted">{{ post.pub_date.date }}
        </div>
        <p><a class="btn btn-default" href="{% url 'detail' post.id %}" role="button">View details &raquo;</a>
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}