{% extends 'base.html' %}
{% load static %}

{% block title %}Update Post{% endblock %}
{% block link %}{% static 'css/update.css' %}{% endblock %}

{% block jumbotron %}{% endblock %}

{% block content %}
<div>
    <div class="container">
        <form action="{% url 'update' post.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            <br><br><br>
            <h3>Title</h3>
            <input type="text" name="title" value="{{ post.title }}" />
            <br />
            <br />
            <h3>Content</h3>
            <textarea cols="50" rows="15" name="description">{{ post.description }}</textarea>
            <br />
            <br />
            <input type="submit" value="Save" />
        </form>
    </div>
</div>
{% endblock %}